@keyframes loading{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes loading1{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }

}
html, body{
    overflow: hidden;
    margin: 0px;
    box-sizing: border-box;
}
.codeContainer{
    background-color: gray;
    position: absolute;
    right: 0px;
    bottom: 0px;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
}
#code{
    width: 80%;
    padding: 0;
}
.controlHeader{
    position: sticky;
    top: 0;
    background-color: gray;
    border-bottom: 1px solid black;
    padding: 1vw;
}
.contContainer{
    box-shadow: 5px 5px 20px gray;
    float: right;
    width: 80%;
    margin-left: 40%;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
    box-sizing: border-box;
}
#propC{
    padding: 1vw;
}
.propC{
    margin-top: 1vw;
}
.control{
    background-color: gray;
    position: absolute;
    left: 0px;
    
    top: 0px;
    bottom: 0px;
    overflow-y: auto;
}
.loading1{
    border: 6px solid transparent;
    border-top: 6px solid #02d026;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    animation-name: loading;
    animation-iteration-count: infinite;
    
}
.loading11{
    animation-timing-function: linear;
    animation-duration: 1s;
}
.loading12{
    animation-timing-function: ease;
    animation-duration: 1s;
}
.loading2{
    background-color: #02d026;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    animation-name: loading1;
    animation-iteration-count: infinite;
}
.loading21{
    animation-duration: 1s;
    animation-timing-function: ease;
}
.loading22{
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: alternate;
}
